.datepicker-ctn{
  position: relative;
  box-shadow: 0 2px 6px #ccc;
  width: 324px;
  height: 330px;
  color: #333;
  .datepicker-footer{
    position: absolute;

    background-color: #FFF;
    padding: 10px;
    z-index:1001;
    width: 100%;
  }
  .datepicker-mask{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
  }
}

